
# Dane generowane przez kontenery 
data/
db/
portainer_data/
monitoring/grafana/
monitoring/prometheus/data/    

.env                           


# Backupy i tymczasowe
backups/
*.log
*.tmp

.DS_Store                      
Thumbs.db                      
